<div class="container mt-4">
    <h2 class="mb-4 text-center text-primary">Login Logs</h2>

    <!-- Table for Login Logs -->
    <div class="table-responsive">
        <table class="table table-striped table-bordered shadow-sm table-sm">
            <thead class="table-light text-center">
                <tr>
                    <th>Email</th>
                    <th>Date & Time</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="logs$ | async as logs">
                    <tr *ngFor="let log of logs | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                        <td>{{ log.email }}</td>
                        <td>{{ log.timestamp | date: 'd MMMM y, h:mm a' }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <pagination-controls [responsive]="true" [autoHide]="true" (pageChange)="page = $event"
        class="d-flex justify-content-center mt-3">
    </pagination-controls>
</div>