<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
    <div class="container d-flex align-items-center">
        <div class="p-1">
            <a class="navbar-brand fs-3" routerLink="/users" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Jumppeak</a>
        </div>

        <!-- Navbar Toggle Button for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login-logs" routerLinkActive="active">Login Logs</a>
                </li>
            </ul>

            <!-- Logout Button -->
            <button class="btn btn-outline-light" (click)="logout()">Logout</button>
        </div>
    </div>
</nav>