<div class="wrapper">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-5 col-12 text-center mb-4 mb-lg-0">
                <img src="assets/auth.jpg" class="img-fluid" alt="Authentication Image">
            </div>

            <div class="col-lg-5 col-12">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <h2 class="text-center mb-4">{{ formType === 'login' ? 'Login' : 'Register' }}</h2>

                    <div *ngFor="let field of config" class="mb-4">
                        <label class="form-label" [for]="field.name">{{ field.label }}</label>
                        <input class="form-control" [type]="field.type" [id]="field.name"
                            [formControlName]="field.name" />

                        <div *ngIf="getFieldError(field.name)" class="text-danger">
                            <small>{{ getFieldError(field.name) }}</small>
                        </div>
                    </div>

                    <button class="btn btn-primary w-100" type="submit">
                        {{ formType === 'login' ? 'Login' : 'Register' }}
                    </button>
                </form>

                <div class="text-center mt-4">
                    <p>
                        {{ formType === 'login' ? "Don't have an account?" : 'Already have an account?' }}
                    </p>
                    <button class="btn btn-link text-decoration-none" (click)="toggleForm()" role="button">
                        <strong>{{ formType === 'login' ? 'Register' : 'Login' }}</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>